{% extends 'MsiCmfBundle::layout.html.twig' %}

{% block title %}{{ 'Add'|trans }} {{ admin.getLabel() }}{% endblock title %}

{% block actions %}
<button class="btn btn-primary msi_cmf_save"><i class="icon-white icon-ok"></i> Save</button>
<button class="btn btn-primary msi_cmf_save_add"><i class="icon-white icon-ok"></i> Save & Add</button>
<button class="btn btn-primary msi_cmf_save_quit"><i class="icon-white icon-ok"></i> Save & Quit</button>
{% endblock actions %}

{% block sidebar %}
{% include admin.getOption('sidebar_template') %}
{% endblock sidebar %}

{% block content %}
    <form novalidate class="form-crud form-horizontal" action="{{ admin.genUrl('new') }}" method="POST" {{ form_enctype(form) }}>
        {% include admin.getOption('form_template') %}
    </form>
{% endblock %}

{% block js %}
{{ parent() }}
{% include admin.container.getParameter('msi_cmf.tiny_mce') %}
<script src="{{ asset('bundles/msicmf/js/save.js') }}"></script>
{% endblock js %}
