{% extends 'MsiCmfBundle::layout.html.twig' %}

{% block title %}{{ 'Add'|trans }} {{ admin.getLabel() }}{% endblock title %}

{% block actions %}
<button class="btn btn-primary msi_cmf_save"><i class="icon-white icon-ok"></i> {{ 'save'|trans }}</button>
<button class="btn btn-primary msi_cmf_save_add"><i class="icon-white icon-plus"></i> {{ 'save_add'|trans }}</button>
<button class="btn btn-primary msi_cmf_save_quit"><i class="icon-white icon-minus"></i> {{ 'save_quit'|trans }}</button>

{#<div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-white icon-ok-sign"></i> {{ 'save'|trans }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a class="msi_cmf_save" href="#"><i class="icon-ok"></i> {{ 'save'|trans }}</a></li>
        <li><a class="msi_cmf_save_add" href="#"><i class="icon-plus"></i> {{ 'save_add'|trans }}</a></li>
        <li><a class="msi_cmf_save_quit" href="#"><i class="icon-minus"></i> {{ 'save_quit'|trans }}</a></li>
    </ul>
</div>#}
{% endblock actions %}

{% block sidebar %}
{% if admin.getOption('sidebar_nav_template') %}
    <ul class="nav nav-list">
        {% if admin.getOption('sidebar_nav_template') %}
            {% include admin.getOption('sidebar_nav_template') %}
        {% endif %}
    </ul>
{% endif %}
{% if admin.getOption('sidebar_template') %}
    {% include admin.getOption('sidebar_template') %}
{% endif %}
{% endblock sidebar %}

{% block content %}
    <form novalidate class="form-crud form-horizontal" action="{{ admin.genUrl('new') }}" method="POST" {{ form_enctype(form) }}>
        {% include admin.getOption('form_template') %}
    </form>
{% endblock %}

{% block js %}
{{ parent() }}
{% include admin.container.getParameter('msi_cmf.tiny_mce') %}
<script src="{{ asset('bundles/msicmf/js/save.js') }}"></script>
{% endblock js %}
