<div style="white-space: nowrap;">
{% if column.options.tree and row.lvl != 0 and row.parent.children.count > 1 %}
    <a class="btn" href="{{ admin.genUrl('demote', {'id': row.id}) }}"><i class="icon-arrow-down"></i></a>
    <a class="btn" href="{{ admin.genUrl('promote', {'id': row.id}) }}"><i class="icon-arrow-up"></i></a>
{% endif %}

{% for child in admin.children %}
    {% if child.options.icon is defined%}
        <a title="{{ child.label(2) }}" class="btn" href="{{ child.genUrl('list', {'parentId': row.id}, false) }}"><i class="icon-{{ child.options.icon }}"></i> {{ child.label(2) }}</a>
    {% endif %}
{% endfor %}

{% for key, val in column.options.actions %}
    <a class="btn" href="{% if val != '#' %}{{ path(val, {'id': row.id}) }}{% else %}{{ val }}{% endif %}">{{ key|raw }}</a>
{% endfor %}

{% if admin.isGranted('update') %}
    <a title="{{ 'Edit'|trans }}" href="{{ admin.genUrl('edit', {'id': row.id}) }}" class="btn"><i class="icon-pencil"></i> {{ 'Edit'|trans }}</a>
{% endif %}
{% if admin.isGranted('delete') %}
    {% if column.options.soft_delete %}
        <a title="{{ 'Delete'|trans }}" class="btn msi_cmf_admin_delete" data-url="{{ admin.genUrl('softDelete', {'id': row.id}) }}" href="#"><i class="icon-trash"></i {{ 'Delete'|trans }}></a>
    {% else %}
        <a title="{{ 'Delete'|trans }}" class="btn msi_cmf_admin_delete" data-url="{{ admin.genUrl('delete', {'id': row.id}) }}" href="#"><i class="icon-trash"></i> {{ 'Delete'|trans }}</a>
    {% endif %}
{% endif %}
</div>
