<div style="white-space: nowrap;">
    {% for child in admin.children if admin.hasChildren() and column.options.children %}
        <a title="{{ child.label(2) }}" href="{{ child.genUrl('list', {'parentId': row.id}) }}" class="btn btn-small"><i class="icon-list"></i></a>
    {% endfor %}

    {% for key, val in column.options.actions %}
        <a class="btn btn-small" href="{% if val != '#' %}{{ path(val, {'id': row.id, 'parentId': app.request.query.get('parentId')}) }}{% else %}{{ val }}{% endif %}">{{ key|raw }}</a>
    {% endfor %}

    {% if admin.isGranted('update') and column.options.edit %}
        <a title="{{ 'Edit'|trans }}" href="{{ admin.genUrl('edit', {'id': row.id}) }}" class="btn btn-small"><i class="icon-pencil"></i></a>
    {% endif %}

    {% if admin.isGranted('delete') and column.options.delete %}
        <a title="{{ 'Delete'|trans }}" class="btn btn-small msi_cmf_admin_delete" data-url="{{ admin.genUrl('delete', {'id': row.id}) }}" href="#"><i class="icon-trash"></i></a>
    {% endif %}
</div>
