{% extends 'MsiCmfBundle:Admin:index.html.twig' %}

{% block sidebar %}
<ul id="sortable1" class="unstyled" data-url="{{ admin.genUrl('sort') }}">
    {% for item in admin.grid.rows %}
        {% set l = loop.index %}
        <li id="{{ item.id }}" data-lvl="{{ item.lvl }}" data-lft="{{ item.lft }}" data-rgt="{{ item.rgt }}">
            {% for i in 0..item.lvl %}
                {% if i != 0 %}
                    {% if item.lvl and i < item.lvl %}
                        {% if i < item.lvl and i > 1 %}
                            <img style="width: 16px;height: 14px;" src="http://dev.magento.com/js/spacer.gif" alt="0">
                        {% else %}
                            {#<img src="/bundles/msicmf/img/elbow-line.gif" alt="0">#}
                            <img style="width: 16px;height: 14px;" src="http://dev.magento.com/js/spacer.gif" alt="0">
                        {% endif %}
                    {% else %}
                        {% if item.rgt == item.parent.rgt - 1 %}
                            {#<img src="/bundles/msicmf/img/elbow-end.gif" alt="0">#}
                            <img style="width: 16px;height: 14px;" src="http://dev.magento.com/js/spacer.gif" alt="0">
                        {% else %}
                            {#<img src="/bundles/msicmf/img/elbow.gif" alt="0">#}
                            <img style="width: 16px;height: 14px;" src="http://dev.magento.com/js/spacer.gif" alt="0">
                        {% endif %}
                        <i class="icon-folder-open"></i>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {{ item.translation.name|truncate(9, false, '...') }}
        </li>
    {% endfor %}
</ul>
{% endblock sidebar %}

{% block js %}
{{ parent() }}
<script>
if ( typeof Object.create !== 'function' ) {
    Object.create = function( obj ) {
        function F() {}
        F.prototype = obj;
        return new F();
    };
}

(function($, window, undefined) {
    "use strict";
    var Dadada = {
        init: function(el, options) {
            var self = this;
            self.$el = $(el);
            self.options = $.extend({}, $.fn.dadada.options, options);

            self.listen();
        },

        listen: function()
        {
            var self = this;

            self.$el.sortable({
                // axis: 'y',
                items: 'li:not(.dontmove)',
                start: function(e, ui) {
                    self.$el.children().each(function(i, e) {
                        var $e = $(e);
                        if ($e.data('lvl') !== $(ui.item).data('lvl')) {
                            $e.addClass('dontmove');
                        }
                    });

                    self.$el.sortable('refresh');

                    self.array1 = self.$el.sortable('toArray');
                },
                stop: function(e, ui) {
                    self.array2 = self.$el.sortable('toArray');

                    self.$el.children().each(function(i, e) {
                        var $e = $(e);
                        $e.removeClass('dontmove');
                    });

                    self.$el.children().each(function(i, e) {
                        var $m = $(e),
                            result = [];
                        self.$el.children().each(function(i, e) {
                            var $e = $(e);
                            if ($e.data('lft') > $m.data('lft') && $e.data('rgt') < $m.data('rgt')) {
                                result.push(e);
                            }
                        });
                        $(result).insertAfter($m);
                    });

                    $.ajax(self.$el.data('url'), {
                        data: {
                            id: $(ui.item).attr('id'),
                            array1: self.array1,
                            array2: self.array2,
                        }
                    });
                }
            });
        }
    };

    $.fn.dadada = function(options) {
        return this.each(function() {
            var dadada = Object.create(Dadada);
            dadada.init(this, options);
        });
    };

    $.fn.dadada.options = {
    };
})(jQuery, window);
</script>
<script>
(function($) {
    "use strict";
    $('#sortable1').dadada();
})(jQuery);
</script>
{% endblock js %}
